.avatarimage {
    width: 71px;
    /* round image css */border-radius: 50%;
}
.user {
    /* items in-line */
    display: inline-flex;
}
.name {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}